<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>

    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <a href="#mainContent" class="skip-link">List Restaurant</a>
    <header>
      <!-- Appbar  -->
      <nav class="appbar">
        <a href="" class="app-logo">Kenyang<span>.IN</span></a>
        <div class="app-extra" tabindex="0">
          <button id="hamburger-menu"><i data-feather="menu"></i></button>
        </div>
        <div class="app-appbar">
          <a href="index.html">Home</a>
          <a href="#">Favorite</a>
          <a href="https://www.instagram.com/fariidakbr_?igsh=MTd0OHRodnd1ZWN3ZA==" target="_blank">About Us</a>
        </div>
      </nav>
    </header>

    <main id="mainContent">
      <!-- Jumbotron -->
      <div class="antiHero">
        <div class="heroIc">
          <h4>SOKIN</h4>
          <p><span>S</span>ensasi <span>O</span>rang kekinian hanya ada di <span>K</span>enyang<span>.IN</span>!</p>
        </div>
      </div>
      <div class="containerCards">
        <h2>Explore Restaurant</h2>
        <div class="listCards" id="listCards"></div>
      </div>
    </main>

    <footer>
      <h1>&copy; 2024 Farid Akbar Ishaq Maulana</h1>
    </footer>
    <script>
      feather.replace();
    </script>
  </body>
</html>
