<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="All About Foods&Drinks" />
    <meta name="theme-color" content="#faa328" />
    <title>Kenyang.In Apps</title>

    <!-- Mobile Ios -->
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />

    <!-- Web Manifast -->
    <link rel="manifest" href="./app.webmanifest" />

    <!-- Favicon -->
    <link rel="icon" href="./favicon.png" />

    <!-- Feather-Icons -->
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- FontAwesome -->
    <!-- <script src="https://use.fontawesome.com/b070c8f1df.js"></script> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />

    <!-- My Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Playpen+Sans&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
  </head>
  <body>
    <a href="#mainContent" class="skip-link">List Restaurant</a>
    <header class="app-bar">
      <!-- App-Brand -->
      <div class="app-brand">
        <h1>Kenyang<span>.IN</span></h1>
      </div>
      <!-- Hamburger-Menu -->
      <div class="app-extra">
        <button id="hamburgerButton">
          <i data-feather="menu"></i>
        </button>
      </div>
      <!-- Navbar -->
      <nav id="appbarDrawer" class="appbar">
        <a href="#/home">Home</a>
        <a href="#/favorite">Favorite</a>
        <a href="https://www.instagram.com/fariidakbr_?igsh=MTd0OHRodnd1ZWN3ZA==" target="_blank">About Us</a>
      </nav>
    </header>

    <!-- Jumbotron -->
    <div class="antihero">
      <div class="heroIc">
        <h4>SOKIN</h4>
        <p><span>S</span>ensasi <span>O</span>rang kekinian hanya ada di <span>K</span>enyang<span>.IN</span>!</p>
      </div>
    </div>

    <main id="mainContent" tabindex="0"></main>

    <footer>
      <p>All data suport by Dicoding |<span> Farid Akbar Ishaq Maulana </span>| Dicoding&copy;2024</p>
    </footer>
    <script>
      feather.replace();
    </script>
  </body>
</html>
